[slack_notifier]
gatekeeper_url = {{ gatekeeper_url }}
channel = {{ gatekeeper_slack_notifier_channel }}
username = {{ gatekeeper_slack_notifier_username }}
webhook_url = {{ gatekeeper_slack_notifier_webhook_url }}
